@import "http://fonts.googleapis.com/css?family=Noto+Sans";

* {
  font-family: Noto Sans;
}

body {
  margin: 15px;
}

ul {
  list-style-type: none;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
