{
  "extends": "airbnb-base",
  "plugins": ["vue"],
  "env": {
      "browser": true,
      "node": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack.base.conf.js"
      }
    }
  },
  "rules": {
    "import/extensions": ["error", "always", {
      "js": "never",
      "vue": "never"
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["build/**/*.js", "config/**/*.js"]
    }],
    "no-param-reassign": ["error", {
      "props": true, "ignorePropertyModificationsFor": ["state"]
    }]
  },
  "globals": {
    "sr": true
  }
}
